############################################
# NANO
############################################
set constantshow
set autoindent
set mouse
set nowrap
set linenumbers
set titlecolor gray
set numbercolor gray

# syntax coloring
include /opt/homebrew/share/nano/awk.nanorc
include /opt/homebrew/share/nano/c.nanorc
include /opt/homebrew/share/nano/changelog.nanorc
include /opt/homebrew/share/nano/css.nanorc
include /opt/homebrew/share/nano/default.nanorc
include /opt/homebrew/share/nano/go.nanorc
include /opt/homebrew/share/nano/html.nanorc
include /opt/homebrew/share/nano/java.nanorc
include /opt/homebrew/share/nano/javascript.nanorc
include /opt/homebrew/share/nano/json.nanorc
include /opt/homebrew/share/nano/lua.nanorc
include /opt/homebrew/share/nano/makefile.nanorc
include /opt/homebrew/share/nano/man.nanorc
include /opt/homebrew/share/nano/nanorc.nanorc
include /opt/homebrew/share/nano/patch.nanorc
include /opt/homebrew/share/nano/perl.nanorc
include /opt/homebrew/share/nano/python.nanorc
include /opt/homebrew/share/nano/ruby.nanorc
include /opt/homebrew/share/nano/rust.nanorc
include /opt/homebrew/share/nano/sh.nanorc
include /opt/homebrew/share/nano/sql.nanorc
include /opt/homebrew/share/nano/texinfo.nanorc
include /opt/homebrew/share/nano/xml.nanorc
